{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="http://fonts.googleapis.com/css?family=Righteous&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/one-page-wonder.css' %}">

  <title>Joywins'profile</title>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">2DoIs2Be and Joywins'Profile</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#codingTeacher">CodingTeacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#programmer">Programmer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#socialEconomyEntrepreneur">SocialEconomyEntrepreneur</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="overlay">
      <div class="container">
        <h1 class="display-1 text-white">Let's 2DoIs2Be and Joywins!</h1>
        <h2 class="display-4 text-white">Welcome to a person's profile page who has an ability to enrich our ecosystem like an honeybee.</h2>
        <br/>
        <h3 class="display-5 text-white"><a href="mailto:joywins@daum.net">joywins@daum.net</a></h3>
      </div>
    </div>
  </header>

  <section id="codingTeacher">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static '/images/codingTeacher.png' %}" alt="codingTeacher">
          </div>
        </div>
        <div class="col-md-6 order-1">
          <div class="p-5">
            <h2 class="display-4">Coding Teacher...</h2>
            <p>
              I teach
              <a href="https://youtu.be/sMBkGpgXoF8" target="_blank">Scratch</a> and
              <a href="https://youtu.be/dXciKKRPhe0" target="_blank">Hamsterbot</a>
              to middle school students, and can teach Arduino,
              <a href="https://docs.google.com/document/d/1saXPWaHAtDwcsCOrQBB29CSbWYLJdUDiMYR1aPBXuZw/edit?usp=sharing" target="_blank">Python</a>, too.<br/>
              I beieve it is a good education to help one to make a detailed dream with one's vision where one's aspiration breathes.<br/>
              Since AI will do much better, Coding class must not be only a learning how to make a program.<br/>
              My Coding class focuses on leading students to enjoy thinking together, helping together, solving together.<br/>
              Therefore, Coding will be a big help for students to discover what his/her heart is excited about.<br/>
              I like studying and
              <a href="https://www.slideshare.net/seoyunseoktudoistube/share-80575882" target="_blank">sharing my teaching material</a>
              with others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="programmer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static '/images/programmer.png' %}" alt="programmer">
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-5">
            <h2 class="display-4">Programmer...</h2>
            <p>
               An enjoyable experience is growing with : <br/>
               more than 6 years experience of SAP ERP ABAP,<br/>
               2 years experience of Java and Springframework,<br/>
               and now to Python and Javascript!
            </p>
            <p>
              If you look for a programmer who can raise the productivity of your team and help to grow a technical ecosystem,
              then it will be me the person whom you are looking for.<br/>
              For example, I have carried out a constant effort to summarize what I understood and how I approached to new techinical challenge.<br/>
              Because I believe it will save a team's energy a lot and faciliate to keep member's level evenly, and it will help me to raise my ability higher enough to challenge bigger task.<br/>
              So I keep them on
              <a href="https://github.com/tudoistube" target="_blank">my GitHub</a> with
              <a href="https://docs.google.com/spreadsheets/d/1d_rGlZb12XJBxke2azZnkXGejFLXdmr4zkRTRXtwt1A/edit?usp=sharing" target="_blank">sharable documents</a>
              in public.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="socialEconomyEntrepreneur">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2">
          <div class="p-5">
            <a href="http://joywins.creatorlink.net/" target="_blank">
              <img class="img-fluid rounded-circle" src="{% static '/images/joywinsLogo.jpg' %}" alt="joywins">
            </a>
          </div>
        </div>
        <div class="col-md-6 order-1">
          <div class="p-5">
            <h2 class="display-4">Talent Donation Open Project as my social enterprise biz item</h2>
            <p>
               This is a smart and warm shopping system to mix shopping and donation for alone weak elder citizen.<br/>
               Simply, I hope to be taken care of myself by some good Samaritan in future, by my becoming a good Samaritan to take care of the present alone elder citizen.<br/>
               Our silence keeps our reality unchanged, but our action change our future!<br/>
               <a href="http://joywins.creatorlink.net/" target="_blank">Here</a> you can see more details, and I hope you will join in together, if you feel same about this idea^_____^!!!<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Joywins 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>
